@{
    Page.Title = "video";
}

<section id="main">
    <h1>Breve descripción de Video</h1>
    <p>
        Fourth Coffee was founded in 2010 and delivers coffee and fresh baked goods right to your door. 
        In another life, Bill le gustaba mucho la pesca y los paseos a la naturaleza, lo cual disfrutaba
        en toda su amplitud.  En uno de sus viajes pudo observar la conjugacion de las diversas culturas 
        en cuanto a la compenetracion de los animales.
        En este video se observa como el Oso y la Garza se manejan en el mismo ambiente.
    </p><br/>

    <h2>Disfruten el video.</h2>

    <video width="320" height="240" autoplay>
           <source src="http://www.w3schools.com/tags/movie.mp4" type="video/mp4">
    </video>
</section>

<br/><br/>

<div id="sidebar">
    @*@Twitter.Search(
        "#putyourhashtaghere", 
        caption: "Búscanos", 
        backgroundShellColor: "#e6e3d8", 
        tweetsBackgroundColor: "#fdfcf7", 
        shellColor: "#696969",
        tweetsColor: "#696969",
        tweetsLinksColor: "#a52f09")*@
</div>

